<template name="allClients">

    {{#each clients}}
        <div class="col-lg-3">
            <div class="hpanel hgreen contact-panel">
                <div class="panel-body">
                    <span class="stats label label-success pull-right" id="{{_id}}" style="cursor: pointer">STATS</span>
                    {{> avatar shape="circle" initials="NW" class="img-circle m-b"}}
                    <h3><a href=""> {{username}} </a></h3>
                    {{#each emails}}
                        <div class="text-muted font-bold m-b-xs">{{address}}</div>
                    {{/each}}
                    <p>
                        {{userProfile.bio}}
                    </p>
                </div>
                <div class="panel-footer contact-footer">
                    <div class="row">
                        <div class="col-md-4 border-right">
                            <div class="contact-stat"><span>Projects: </span> <strong>200</strong></div>
                        </div>
                        <div class="col-md-4 border-right">
                            <div class="contact-stat"><span>Messages: </span> <strong>300</strong></div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-stat"><span>Views: </span> <strong>400</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</template>

<template name="newClient">

    <div class="col-lg-12">
        {{#panel}}
            {{#autoForm id="signUpClientForm" schema="Schema.User" method="insert"}}

                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>Username</label>
                        {{> afFieldInput name='username' class="form-control"}}
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Email</label>
                        {{> afFieldInput name='email' class="form-control"}}
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Password</label>
                        {{> afFieldInput name='password' class="form-control"}}
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Confirm password</label>
                        {{> afFieldInput name='passwordConfirmation' class="form-control"}}
                    </div>
                </div>

                <button type='submit' class="btn btn-default next">Guardar</button>
            {{/autoForm}}

        {{/panel}}

    </div>
</template>

<template name="upgradeSubscription">
    <div class="col-lg-12">

        <div class="text-center m-b-xl">
            <h3>Planes disponibles en Nutrideta.com</h3>

            <p>
                Estos son nuestros planes disponibles actualmente
            </p>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="hpanel plan-box">
                    <div class="panel-heading hbuilt text-center">
                        <h4 class="font-bold">Basic plan</h4>
                    </div>
                    <div class="panel-body text-center">
                        <i class="pe pe-7s-cup big-icon text-warning"></i>
                        <h4 class="font-bold">
                            $10/month
                        </h4>

                        <p class="text-muted">
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable.
                        </p>
                        <a href="#" class="btn btn-warning btn-sm">Select basic plan</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="hpanel plan-box active">
                    <div class="panel-heading hbuilt text-center">
                        <h4 class="font-bold">Standard plan</h4>
                    </div>
                    <div class="panel-body text-center">
                        <i class="pe pe-7s-science big-icon text-success"></i>
                        <h4 class="font-bold">
                            $20/month
                        </h4>

                        <p class="text-muted">
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable.
                        </p>
                        <a href="#" class="btn btn-success btn-sm">Select standard plan</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="hpanel plan-box">
                    <div class="panel-heading hbuilt text-center">
                        <h4 class="font-bold">Premium plan</h4>
                    </div>
                    <div class="panel-body text-center">
                        <i class="pe pe-7s-refresh-cloud big-icon text-info"></i>
                        <h4 class="font-bold">
                            $30/month
                        </h4>

                        <p class="text-muted">
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable.
                        </p>
                        <a href="#" class="btn btn-info btn-sm">Select premium plan</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="hpanel plan-box">
                    <div class="panel-heading hbuilt text-center">
                        <h4 class="font-bold">Prestige plan</h4>
                    </div>
                    <div class="panel-body text-center">
                        <i class="pe pe-7s-server big-icon text-danger"></i>
                        <h4 class="font-bold">
                            $40/month
                        </h4>

                        <p class="text-muted">
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't look
                            even slightly believable.
                        </p>
                        <a href="#" class="btn btn-danger btn-sm">Select prestige plan</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

