<template name="statsClient">
    <div class="row">
        <div class="col-lg-12">

            {{#panel}}

                <div class="row">
                    <div class="col-md-3 text-center">
                        <div class="big">
                            <i class="fa fa-user"></i> Client:
                        </div>
                        <div>
                            <h1 class="font-extra-bold m-t-xl m-b-xs" style="font-weight: normal">
                                {{client.username}}
                            </h1>
                            {{#if client.userProfile.firstName}}
                            <small>{{client.userProfile.firstName}} {{client.userProfile.lastName}}</small>
                            {{/if}}
                        </div>
                        <div class="big m-t-xl">
                            <i class="fa fa-envelope-o"></i> {{client.emails.[0].address}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center small">
                            <i class="fa fa-laptop"></i> Active users in current month (December)
                        </div>
                        <div class="flot-chart" style="height: 160px">
                            <div class="flot-chart-content" id="flot-line-chart"></div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="big">
                            <i class="fa fa-clock-o"></i> Member since:
                        </div>
                        <div>
                            <h1 class="font-extra-bold m-t-xl m-b-xs" style="font-weight: normal">
                                {{memberSinceNow}}
                            </h1>
                        </div>
                        <div class="big m-t-xl">
                            <i class="fa fa-user"></i> {{memberJoin}}
                        </div>
                    </div>
                </div>

            {{/panel}}

        </div>
    </div>
    <div class="row">
        {{> quickForm collection="Stats" id="insertStatClient" type="insert"}}
        <div class="col-lg-12">
            {{#panel title="Line type chart without curve"}}
                <div>
                    <canvas id="sharpLineOptions" height="140"></canvas>
                </div>
            {{/panel}}
        </div>
    </div>
</template>