<template name="calendar">
    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                {{#panel}}
                    <div align="left">
                        <a class="btn btn-default" id="newDate" data-toggle="modal"
                           data-target="#createModal">New date</a>
                    </div>
                    {{> fullcalendar
                    events=events
                    eventClick=onEventClicked
                    id="calendar"
                    header=calendarHeader
                    options=calendarOptions
                    }}
                {{/panel}}
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    {{>dates}}
                </div>
            </div>
        </div>
    </div>
</template>

