<template name="profileEdit">

    {{> pageHeader title="Editar perfil" desc="Edita tu perfil personal para que puedan verlo tus usuarios." category="Zona privada" }}


    {{#staggering}}

        <!--        <div class="content">


            <div class="row">
                <div class="col-lg-12">

                    <form id="profileEditForm">
                        <label>Nombre</label>
                        <input type="text" id="nombre" class="form-control" name="nombre" value="{{profile.nombre}}">

                        <button type="submit" class="btn btn-success">Guardar</button>
                    </form>

                </div>
            </div>

        </div>-->

        <div class="content">

            <div class="row">
                <div class="col-lg-12">
                    {{#panel}}
                        <form name="profileEditForm" novalidate id="profileEditForm" method="post">

                            <div class="text-center m-b-md" id="wizardControl">

                                <a class="btn btn-primary" href="#step1" data-toggle="tab">Paso 1 - Datos personales</a>
                                <a class="btn btn-default" href="#step2" data-toggle="tab">Paso 2 - Datos
                                    nutricionista</a>
                                <a class="btn btn-default" href="#step3" data-toggle="tab">Paso 3 - Aceptar
                                    condiciones</a>

                            </div>

                            <div class="tab-content">
                                <div id="step1" class="p-m tab-pane active">

                                    <div class="row">
                                        <div class="col-lg-3 text-center">
                                            <i class="pe-7s-user fa-5x text-muted"></i>

                                            <p class="small m-t-md">
                                                <strong>Lorem Ipsum</strong> is simply dummy text of the printing and
                                                typesetting industry. Lorem Ipsum has been the industry's standard.
                                                <br/><br/>Lorem Ipsum has been the industry's dummy text of the printing
                                                and
                                                typesetting
                                            </p>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="form-group col-lg-12">
                                                    <label>Username</label>
                                                    <input type="text" value="" id="" class="form-control"
                                                           name="username"
                                                           placeholder="username">
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <label>Password</label>
                                                    <input type="password" value="" id="" class="form-control"
                                                           placeholder="******" name="password">
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <label>Company</label>
                                                    <input type="text" value="" id="" class="form-control"
                                                           placeholder="Company Name" name="company">
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <label>Email Address</label>
                                                    <input type="email" value="" id="" class="form-control"
                                                           placeholder="user@email.com" name="email">
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <label>Country</label>
                                                    <input type="text" value="" id="" class="form-control"
                                                           name="country"
                                                           placeholder="UK">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-right m-t-xs">
                                        <a class="btn btn-default prev" href="#">Previous</a>
                                        <a class="btn btn-default next" href="#">Next</a>
                                    </div>

                                </div>

                                <div id="step2" class="p-m tab-pane">

                                    <div class="row">
                                        <div class="col-lg-3 text-center">
                                            <i class="pe-7s-credit fa-5x text-muted"></i>

                                            <p class="small m-t-md">
                                                <strong>It is a long</strong> established fact that a reader will be
                                                distracted by the readable
                                                <br/><br/>Many desktop publishing packages and web page editors now use
                                            </p>
                                        </div>
                                        <div class="col-lg-9">
                                            <div class="row">
                                                <div class="form-group col-lg-12">
                                                    <label>Name on Card</label>
                                                    <input type="text" value="" id="" class="form-control"
                                                           name="card_name">
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <label>Card Number</label>
                                                    <input type="text" value="" id="" class="form-control"
                                                           name="card_number">
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <label>Billing Address</label>
                                                    <input type="text" value="" id="" class="form-control"
                                                           name="billing_address">
                                                </div>
                                                <div class="form-group col-lg-12">
                                                    <div class="row">
                                                        <div class="col-xs-4 form-group">
                                                            <label>CVC</label>
                                                            <input class="form-control" placeholder="ex. 381"
                                                                   type="text"
                                                                   name="cvc">
                                                        </div>
                                                        <div class="col-xs-4 form-group">
                                                            <label>Expiration</label>
                                                            <input class="form-control" placeholder="MM" type="text"
                                                                   name="expire_month">
                                                        </div>
                                                        <div class="col-xs-4 form-group">
                                                            <label></label>
                                                            <input class="form-control" placeholder="YYYY" type="text"
                                                                   name="expire_year">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right m-t-xs">
                                        <a class="btn btn-default prev" href="#">Previous</a>
                                        <a class="btn btn-default next" href="#">Next</a>
                                    </div>

                                </div>
                                <div id="step3" class="tab-pane">
                                    <div class="row text-center m-t-lg m-b-lg">
                                        <div class="col-lg-12">
                                            <i class="pe-7s-check fa-5x text-muted"></i>

                                            <p class="small m-t-md">
                                                <strong>There are many</strong> variations of passages of Lorem Ipsum
                                                available, but the majority have suffered
                                            </p>
                                        </div>
                                        <div class="checkbox col-lg-12">
                                            <input type="checkbox" class="i-checks approveCheck" name="approve">
                                            Approve this form
                                        </div>
                                    </div>
                                    <div class="text-right m-t-xs">
                                        <a class="btn btn-default prev" href="#">Anterior</a>
                                        <a class="btn btn-default next" href="#">Siguiente</a>
                                        <a class="btn btn-success submitWizard" href="#">Guardar</a>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="m-t-md">

                            <p>
                                Debe rellenar los datos lo más descriptivo posible. Los usuarios podrán ver los datos
                                que sean públicos.
                            </p>

                        </div>
                    {{/panel}}

                </div>

            </div>
        </div>

    {{/staggering}}

</template>