<template name="profileEdit">

    {{> pageHeader title="Editar perfil" desc="Edita tu perfil personal." category="Forms" }}


    {{#staggering}}

        <div class="content">


            <div class="row">
                <div class="col-lg-12">

                    <form id="profileEditForm">
                        <label>Nombre</label>
                        <input type="text" id="nombre" class="form-control" name="nombre" value="{{profile.nombre}}">

                        <button type="submit" class="btn btn-success">Guardar</button>
                    </form>

                </div>
            </div>

        </div>

    {{/staggering}}

</template>