<template name="chat">

    {{#staggering}}

        <div class="content">

            <div class="row">
                <div class="col-md-12">
                    <div class="hpanel ">
                        <div class="panel-heading hbuilt">
                            <div class="panel-tools">
                                <a class="closebox"><i class="fa fa-times"></i></a>
                            </div>
                            Chat room
                        </div>
                        <div class="panel-body no-padding">


                            <div class="row">

                                <div class="col-md-9 ">
                                    <div class="chat-discussion" align="center">

                                        {{#with messages}}
                                            {{#if this.count}}
                                                {{#each messages}}
                                                    {{#if isSender this.sender }}
                                                        <div class="chat-message left">
                                                            <img class="message-avatar" src="images/a2.jpg" alt="">
                                                            <div class="message">
                                                                <a class="message-author"
                                                                   style="color: #62CB31;font-weight: bold;"> {{toUserName this.sender}} </a>
                                                                <span class="message-date"> {{toDate createdAt}} </span>
                                                                                    <span class="message-content">
                                                                                        {{message}}
                                                                                    </span>
                                                            </div>
                                                        </div>
                                                    {{else}}
                                                        <div class="chat-message right">
                                                            <img class="message-avatar" src="images/a2.jpg" alt="">
                                                            <div class="message">
                                                                <a class="message-author"
                                                                   style="color: #62CB31;font-weight: bold;"> {{toUserName currentUser._id}} </a>
                                                                <span class="message-date">  {{toDate createdAt}} </span>
                                                                                    <span class="message-content">
                                                                                        {{message}}
                                                                                    </span>
                                                            </div>
                                                        </div>
                                                    {{/if}}
                                                {{/each}}
                                            {{else}}
                                                <i class="pe pe-7s-chat big-icon text-warning"></i>
                                                <h4 class="font-bold">
                                                    Haz click en un cliente para comenzar a chatear
                                                </h4>

                                                <p class="text-muted">
                                                    Los mensajes del chat no serán guardados en el sistema. Si desea
                                                    guardarlos,
                                                    utilice la mensajería interna.
                                                </p>
                                            {{/if}}
                                        {{/with}}
                                        <td id="final"></td>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="chat-users">
                                        <div class="users-list">
                                            {{#each usersOnline}}
                                                <div class="chat-user" align="center">
                                                    <span class="pull-right label label-success">Online</span>
                                                    <img class="chat-avatar" src="images/a3.jpg" alt="">
                                                    <div class="chat-user-name">
                                                        <a class="user" id="{{_id}}">{{userProfile.firstName}}
                                                            ({{username}})</a>
                                                    </div>
                                                </div>
                                            {{else}}
                                                <div class="chat-user" align="center">
                                                    <i class="pe pe-7s-users med-icon text-warning"></i>
                                                    <h4 class="font-bold">
                                                        No hay usuarios conectados
                                                    </h4>
                                                </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            {{#if notEquals activeChat "none"}}
                                <div class="panel-footer">
                                    {{#autoForm collection="ChatMessages" id="createChatMessage" type="method" meteormethod="ChatMessages.methods.insert"}}
                                        <div class="input-group">
                                            {{> afFieldInput name="message" class="form-control"}}
                                            {{> afFieldInput type="hidden" name="recipient" value=activeChat}}
                                            <span class="input-group-btn">
                            <button type="submit" id="createChatMessage" class="btn btn-success" onclick="$('#final')[0].scrollIntoView();">
                                Send
                            </button>
                        </span>
                                        </div>
                                    {{/autoForm}}
                                </div>
                            {{/if}}
                    </div>
                </div>
            </div>
        </div>
    {{/staggering}}
</template>




