<template name="header">
    <div id="header">
        <div class="color-line">
        </div>
        <div id="logo" class="light-version">
        <span>
            NUTRIDETA
        </span>
        </div>
        <nav role="navigation">
            <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
            <div class="small-logo">
                <span class="text-primary">NUTRIDETA</span>
            </div>
            <div class="mobile-menu">
                <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse" id="collapseItem">
                    <i class="fa fa-chevron-down"></i>
                </button>
                <div class="collapse mobile-navbar" id="mobile-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="" href="{{pathFor route='profile'}}" onclick="$('#collapseItem').click()">Perfil</a>
                        </li>
                        <li>
                            <a class="" href="{{pathFor route='login'}}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="navbar-right">
                <ul class="nav navbar-nav no-borders">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="pe-7s-speaker"></i>
                        </a>
                        <ul class="dropdown-menu hdropdown notification animated flipInX">
                            <li>
                                <a>
                                    <span class="label label-success">NEW</span> It is a long established.
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="label label-warning">WAR</span> There are many variations.
                                </a>
                            </li>
                            <li>
                                <a>
                                    <span class="label label-danger">ERR</span> Contrary to popular belief.
                                </a>
                            </li>
                            <li class="summary"><a href="#">Ver todas las notificaciones</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="pe-7s-keypad"></i>
                        </a>
                        <div class="dropdown-menu hdropdown bigmenu animated flipInX">


                            <table>
                                <tbody>
                                <tr>
                                    <td>
                                        <a href="{{pathFor route='dashboard'}}">
                                            <i class="pe pe-7s-graph1 text-info"></i>
                                            <h5>Dashboard</h5>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{pathFor route='clients'}}">
                                            <i class="pe pe-7s-users text-warning"></i>
                                            <h5>Clients</h5>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{pathFor route='calendar'}}">
                                            <i class="pe pe-7s-date text-success"></i>
                                            <h5>Calendar</h5>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{{pathFor route='messages'}}">
                                            <i class="pe pe-7s-mail text-info"></i>
                                            <h5>Messages</h5>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{pathFor route='ingredients'}}">
                                            <i class="pe pe-7s-ribbon text-warning"></i>
                                            <h5>Ingredients</h5>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{pathFor route='recipes'}}">
                                            <i class="pe pe-7s-note2 text-success"></i>
                                            <h5>Recipes</h5>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
                            <i class="pe-7s-mail"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu hdropdown animated flipInX">
                            <div class="title">
                                You have 4 new messages
                            </div>
                            <li>
                                <a>
                                    It is a long established.
                                </a>
                            </li>
                            <li>
                                <a>
                                    There are many variations.
                                </a>
                            </li>
                            <li>
                                <a>
                                    Lorem Ipsum is simply dummy.
                                </a>
                            </li>
                            <li>
                                <a>
                                    Contrary to popular belief.
                                </a>
                            </li>
                            <li class="summary"><a href="#">Ver todos los mensajes</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" id="sidebar" class="right-sidebar-toggle">
                            <i class="pe-7s-upload pe-7s-news-paper"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" id="logout">
                            <i class="pe-7s-upload pe-rotate-90"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>