<template name="navigation">
    {{#if currentUser}}
        <aside id="menu">
            <div id="navigation">
                <div class="profile-picture">
                    <a href="{{pathFor route='dashboard'}}">
                        {{> avatar user=this shape="circle" size="large" initials="DJ" class="img-circle m-b"}}
                    </a>

                    <div class="stats-label text-color">
                        <span class="font-extra-bold font-uppercase">Dani Jimenez</span>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                                <small class="text-muted">Nutricionista<b class="caret"></b></small>
                            </a>
                            <ul class="dropdown-menu animated flipInX m-t-xs">
                                <li><a href="{{pathFor route='profileEdit'}}">Editar perfil</a></li>
                            </ul>
                        </div>
                        <div>
                            <h4 class="font-extra-bold m-b-xs">
                                {{#if isInRole 'free'}}
                                    Licencia inactiva
                                {{/if}}
                                {{#if isInRole 'paid'}}
                                    Licencia activa
                                {{/if}}
                            </h4>
                            {{#if isInRole 'free'}}
                                <small class="text-muted">Renovar licencia</small>
                            {{/if}}
                            {{#if isInRole 'paid'}}
                                <small class="text-muted">Expira el dia 24-02-2016</small>
                            {{/if}}
                        </div>
                    </div>
                </div>

                <ul class="nav" id="side-menu">
                    <li class="{{isActiveRoute regex='dashboard'}}">
                        <a href="{{pathFor route='dashboard'}}"> <span class="nav-label">Dashboard</span></a>
                    </li>
                    <li class="{{isActiveRoute regex='ingredients'}}">
                        <a href="#">Ingredientes</a>
                        <ul class="nav nav-second-level collapse" aria-expanded="false">
                            <li><a href="{{pathFor route='listIngredients'}}"><span class="nav-label">Lista Ingredientes</span></a></li>
                            <li><a href="{{pathFor route='createIngredient'}}"> <span class="nav-label">Crear Ingrediente</span></a></li>
                        </ul>
                    </li>
                    <li class="{{isActiveRoute regex='recipes'}}">
                        <a href="#">Recetas</a>
                        <ul class="nav nav-second-level collapse" aria-expanded="false">
                            <li><a href="{{pathFor route='createRecipe'}}"><span class="nav-label">Nueva receta</span></a></li>
                            <li><a href="{{pathFor route='listRecipes'}}"> <span class="nav-label">Mis recetas</span></a></li>
                        </ul>
                    </li>
                    <li class="{{isActiveRoute regex='diets'}}">
                        <a href="#">Dietas</a>
                        <ul class="nav nav-second-level collapse" aria-expanded="false">
                            <li><a href="{{pathFor route='createDiet'}}"><span class="nav-label">Nueva dieta</span></a></li>
                            <li><a href="{{pathFor route='listDiets'}}"><span class="nav-label">Mis dietas</span></a></li>
                        </ul>
                    </li>
                    <li class="{{isActiveRoute regex='clients'}}">
                        <a href="{{pathFor route='clients'}}"> <span class="nav-label">Clientes</span></a>
                    </li>
                    <li class="{{isActiveRoute regex='calendar'}}">
                        <a href="{{pathFor route='calendar'}}"> <span class="nav-label">Calendario</span></a>
                    </li>
                    <li class="{{isActiveRoute regex='profile'}}">
                        <a href="{{pathFor route='profile'}}"> <span class="nav-label">Perfil</span></a>
                    </li>
                    <li class="{{isActiveRoute regex='notes'}}">
                        <a href="{{pathFor route='notes'}}"> <span class="nav-label">Notas</span></a>
                    </li>
                    <li class="{{isActiveRoute regex='messages'}}">
                        <a href="{{pathFor route='messages'}}"> <span class="nav-label">Mensajes</span></a>
                    </li>
                    <li class="{{isActiveRoute regex='chat'}}">
                        <a href="{{pathFor route='chat'}}"> <span class="nav-label">Chat</span></a>
                    </li>

                </ul>
            </div>
        </aside>
    {{/if}}
</template>
