<template name="splash">
    <!-- Simple splash screen-->
    <div class="splash">
        <div class="color-line"></div>
        <div class="splash-title"><h1>Homer - Responsive Admin Theme</h1>
            <p>Special Meteor Admin Theme for small and medium webapp with very clean and aesthetic style and
                feel. </p><img src="images/loading-bars.svg" width="64" height="64"/></div>
    </div>
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
</template>