<template name="messages">

    {{> pageHeader title="Mensajería" desc="Mailbox - Email list." category="Zona privada" }}

    {{#staggering}}

        <div class="content">

            <div class="row">
                <div class="col-md-3">
                    <div class="hpanel">
                        <div class="panel-body">
                            <ul class="mailbox-list">
                                <li class="option" id="createMessage">
                                    <a href="#"><i class="fa fa-plus"></i> New message</a>
                                </li>
                            </ul>
                            <hr>
                            <ul class="mailbox-list">
                                <li class="option active" id="inbox">
                                    <a href="#"><i class="fa fa-envelope"></i> Recibidos</a>
                                </li>
                                <li class="option" id="outbox">
                                    <a href="#"><i class="fa fa-paper-plane"></i> Enviados</a>
                                </li>
                                <li class="option" id="trash">
                                    <a href="#"><i class="fa fa-trash"></i> Trash</a>
                                </li>
                            </ul>
                            <hr>
                            <ul class="mailbox-list">
                                <li class="option" id="highlight">
                                    <a href="#"><i class="fa fa-star text-warning"></i> Destacado</a>
                                </li>
                                <li class="option" id="important">
                                    <a href="#"><i class="fa fa-bell text-danger"></i> Importante</a>
                                </li>
                                <li class="option" id="private">
                                    <a href="#"><i class="fa fa-lock text-info" style="margin-left: 3px;"></i>
                                        Privado</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                {{> active}}

            </div>
        </div>
    {{/staggering}}

</template>

<template name="mailbox">
    <div class="col-md-9">
        <div class="hpanel">
            <div class="panel-heading hbuilt">
                <div class="text-center p-xs font-normal">
                    <div class="input-group"><input type="text" class="form-control input-sm"
                                                    placeholder="Buscar email.."> <span
                            class="input-group-btn"> <button type="button" class="btn btn-sm btn-default">
                        Buscar
                    </button> </span></div>
                </div>
            </div>
            <br>

            <div class="panel-body">
                {{#with messages}}
                    {{#if this.count}}
                        <div class="row">
                            <div class="col-md-6 m-b-md">
                                <div class="btn-group">
                                    <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i> Delete
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-6 mailbox-pagination m-b-md">
                                <div class="btn-group">
                                    <button class="btn btn-default btn-sm"><i class="fa fa-arrow-left"></i></button>
                                    <button class="btn btn-default btn-sm"><i class="fa fa-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                {{/with}}
                <div class="table-responsive">
                    <table class="table table-hover table-mailbox">
                            {{#with messages}}
                                {{#if this.count}}
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Sender</th>
                                        <th>Subject</th>
                                        <th>Attachment</th>
                                        <th class="text-right">Time</th>
                                    </tr>
                                    </thead>

                                    <br>

                                    <tbody>
                                    {{#each messages}}
                                        <tr class="{{#if viewed}}unread{{/if}}">
                                            <td>
                                                <div class="checkbox">
                                                    <input type="checkbox">
                                                    <label></label>
                                                </div>
                                            </td>
                                            <td><a href="#">{{senderName sender}}</a></td>
                                            <td><a href="#">{{title}}</a>
                                            </td>
                                            <td></td>
                                            <td class="text-right mail-date">Tue, Nov 25</td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                {{else}}
                                <div align="center">
                                    <i class="pe pe-7s-mail big-icon text-warning"></i>
                                    <h4 class="font-bold">
                                        No hay mensajes en esta bandeja
                                    </h4>

                                    <p class="text-muted">
                                        Aquí podrá encontrar los mensajes correspondientes a esta bandeja
                                    </p>
                                    </div>
                                {{/if}}
                            {{/with}}
                    </table>
                </div>
            </div>

            <div class="panel-footer">
                <i class="fa fa-eye"> </i> 86 mensajes en total
            </div>
        </div>
    </div>
</template>

