<template name="dates">
    {{#autoForm collection="Dates" id="insertDateForm" type="method" meteormethod="Dates.methods.insert" resetOnSuccess=true class="form-horizontal"}}
        <div class="color-line"></div>
        <div class="modal-header text-center">
            <h4 class="modal-title">Create new date</h4>
            <small class="font-bold">Select your date!
            </small>
        </div>
        <div class="panel-body">
            <div class="form-group"><label class="col-sm-2 control-label">Client</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-md-12">{{> afFieldInput name="client" type="select2" style="width: 300px;" multiple=false class="form-control"}}</div>
                    </div>
                </div>
            </div>
            <div class="form-group"><label class="col-sm-2 control-label">Day</label>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-12">{{> afFieldInput name="day" class="form-control"}}</div>
                    </div>
                </div>
                <label class="col-sm-2 control-label">Hour</label>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="input-group clockpicker" data-autoclose="true">
                                {{> afFieldInput name="hour" class="form-control"}}
                                <span class="input-group-addon">
                            <span class="fa fa-clock-o"></span>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group"><label class="col-sm-2 control-label">Comment (opcional)</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-md-10">{{> afFieldInput name="comment" type="textarea" class="form-control"}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="cerrarBtn2" class="btn btn-default"
                    data-dismiss="modal">
                Close
            </button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    {{/autoForm}}
</template>


    

        
