<template name="register">

    <div class="back-link">
        <a href="{{pathFor route='login'}}" class="btn btn-primary">Volver a la p&aacute;gina principal</a>
    </div>

    <div class="register-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3>Registrarse en Nutrideta.com</h3>
                    <small>Nutrideta es un un sitio web en el que puedes controlar a tus clientes y hacer un seguimiento
                        exhaustivo de estos.
                    </small>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        {{#autoForm id="signUpForm" schema="RegistrationSchema"}}
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>Usuario</label>
                                    {{> afFieldInput name='username' class="form-control"}}
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Email</label>
                                    {{> afFieldInput name='email' class="form-control"}}
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Contrase&ntilde;a</label>
                                    {{> afFieldInput name='password' class="form-control"}}
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Repetir contrase&ntilde;a</label>
                                    {{> afFieldInput name='passwordConfirmation' class="form-control"}}
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success">Registro</button>
                            </div>
                        {{/autoForm}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

